.header {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    padding: 10px;
    margin: 0 0 10px 0;
}

.app_name {
    font-weight: 800;
    font-size: 30px;
}

.user_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_block__button {
    margin: 10px;
}
