.room_tab {
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #2d2d2d;
    background-color: rgba(255, 228, 0, 0.15);
    justify-content: space-between;
    display: flex;
    margin: 15px;
    padding: 15px;
}

.players_block {

}

.buttons_block {
    display: flex;
    gap: 5px;
}